 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html,
 body {
     height: 100vh;
     overflow-x: hidden;
     scroll-padding-top: 8em;
     scroll-behavior: smooth;
     -ms-overflow-style: none;
     scrollbar-width: none;
 }

 .main-pic {
     background-image: url('images/artwork10.jpg');
     width: 100%;
     height: 100vh;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center 25%;
 }

 .nav-link {
     color: white;
 }

 .form-control::placeholder {
     color: #999 !important;
     opacity: 1;
 }

 .title-shrink {
     word-wrap: break-word;
     white-space: normal;
 }